@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --NegroBase: #161617;
  --BlancoBase: #FFFFFF;
  --GrisClaro: #F6FAFA;
  --VerdeBase: #4DA847;
  --VerdeBaseClaro: #6ABF4D
  --VerdeTextos: #65C65D;
  --VerdeFondosIconos: #BCE2AF;
  --AzulBase: #2151C6;
  --GRegular: 'Geologica';
  --GBold: 'Geologica-Bold';
  --GLight: 'Geologica-Light';
}
@layer base {
  @font-face {
    font-family: 'Geologica';
    src: url('../assets/fonts/geologica/Geologica-Regular.ttf');
  }
  @font-face {
    font-family: 'Geologica-Bold';
    src: url('../assets/fonts/geologica/Geologica-Bold.ttf');
  }
  @font-face {
    font-family: 'Geologica-Light';
    src: url('../assets/fonts/geologica/Geologica-Light.ttf');
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Geologica, sans-serif;
}

@layer components{
  .btn-primary{
    @apply flex items-center gap-x-1 text-sm/6 font-semibold bg-gradient-to-t from-blueDark to-bluePrimary px-7 py-2 rounded-full border-r-[40] text-white hover:from-[#224FC2] hover:to-[#224FC2]
  }
  .main-title{
    @apply text-[#2151C6] text-[50px] font-bold
  }
}

.navVisor{
  width: 95%;
}
.navVisor__link{
  margin: 0 1.4rem;
  font-family: var(--GLight)!important;
  font-weight: 400!important;
}
.badgeBackground{
  background: no-repeat url("../assets/images/header.svg");
}
.badge__Container{
  padding: 15% 10% 0 15%;
  box-sizing: border-box;
}
.badge__Titulo{
  color: var(--BlancoBase);
  font-size: 54px;
}
.badge__Contenido{
  width: 50%;
  padding-top: 1.8rem;
  color: var(--BlancoBase);
  font-family: var(--GLight) !important;
  text-align: justify;
  font-size: 26px;
}
.somosBackground{
  background: right 0px bottom 0px / 10% no-repeat url("../assets/images/arboles.png");
}
.somos__Titulo, .ciudades__Titulo {
  color: var(--AzulBase);
  font-family: var(--GRegular);
  font-weight: 600;
  font-size: 54px;
}
/* .somos__Video{
  width: 70%;
  min-width: 1200px!important;
  border-radius: 45px;
  background-image: url("../assets/images/youtubePortada.png")!important;
} */
.ciudades__Background {
  background: var(--GrisClaro)
}
.ciudades__carousel {
  width: 85%;
  padding-bottom: 5rem;
}
.card__cards{
  background: var(--BlancoBase);
  width: 95%;
  min-height: 529px;
  box-sizing: border-box;
}
.cards__City{
  min-width: 100%;
  max-width: 254px;
  max-height: 254px;
}
.cards__Button{
  color: var(--BlancoBase);
  font-family: var(--GRegular);
  font-size: 1.2rem;
  padding: 0.8rem 0;
  position: fixed;
  bottom: 5%;
  left: 10%;
  width: 75%;
}
.porQueBackground {
  background: no-repeat url("../assets/images/story_new.svg");
  background-size: cover;
  background-position: initial;
}

.nuestraHistoriaBackground{
    background-image: url("../assets/images/story_movil.svg");
    width: auto;
    height: auto;
      background-size: cover;
      background-repeat: no-repeat;
    text-align: center;
    padding-bottom: 60px;
}
