@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --NegroBase: #161617;
  --BlancoBase: #FFFFFF;
  --GrisClaro: #F6FAFA;
  --VerdeBase: #4DA847;
  --VerdeBaseClaro: #6ABF4D
  --VerdeTextos: #65C65D;
  --VerdeFondosIconos: #BCE2AF;
  --AzulBase: #2151C6;
  --TitulosGeneral: 3rem;
  --TitulosGeneral--Movil: 1.9rem;
  --GRegular: 'Geologica';
  --GBold: 'Geologica-Bold';
  --GSeBold: 'Geologica-SemiBold';
  --GExBold: 'Geologica-ExtraBold';
  --GLight: 'Geologica-Light';
  --GExLight: 'Geologica-ExtraLight';
}
html {
  scroll-behavior: smooth;
}
@layer base {
  @font-face {
    font-family: 'Geologica';
    src: url('../assets/fonts/geologica/Geologica-Regular.ttf');
  }
  @font-face {
    font-family: 'Geologica-Bold';
    src: url('../assets/fonts/geologica/Geologica-Bold.ttf');
  }
  @font-face {
    font-family: 'Geologica-SemiBold';
    src: url('../assets/fonts/geologica/Geologica-Bold.ttf');
  }
  @font-face {
    font-family: 'Geologica-SemiBold';
    src: url('../assets/fonts/geologica/Geologica-SemiBold.ttf');
  }
  @font-face {
    font-family: 'Geologica-Light';
    src: url('../assets/fonts/geologica/Geologica-Light.ttf');
  }
  @font-face {
    font-family: 'Geologica-ExtraLight';
    src: url('../assets/fonts/geologica/Geologica-ExtraLight.ttf');
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Geologica, sans-serif;
}

@layer components{
  .btn-primary{
    @apply flex items-center gap-x-1 text-sm/6 font-semibold bg-gradient-to-t from-blueDark to-bluePrimary px-7 py-2 rounded-full border-r-[40] text-white hover:from-[#224FC2] hover:to-[#224FC2] hover:shadow-gray-500 hover:shadow-xl
  }
  .activePath{
    @apply documentacion__NavIzquierda my-6
  }
  .main-title{
    @apply text-[#2151C6] text-[50px] font-bold
  }
}

.fullWidth{
  width: 100vw;
}
.navVisor{
  width: 95%;
}
.navVisor__link, .porQue__Botones--Boton{
  margin: 0 1.4rem;
  font-family: var(--GLight)!important;
  font-weight: 400!important;
}
.header__Logo{
  position: relative;
  left: 5%;
}
.borderTest{
  border: 1px solid red;
}
.badgeBackground{
  background: no-repeat url("../assets/images/header.svg");
  background-size: cover;
  padding-bottom: 20%;
}
.badge__Container{
  padding: 15% 10% 0 15%;
  box-sizing: border-box;
}
.badge__Titulo{
  color: var(--BlancoBase);
  font-size: var(--TitulosGeneral);
}
.badge__Contenido{
  width: 50%;
  padding-top: 1.8rem;
  color: var(--BlancoBase);
  font-family: var(--GLight) !important;
  text-align: justify;
  font-size: 1.5rem;
}
.somosBackground{
  background: right 0px bottom 0px / 10% no-repeat url("../assets/images/arboles.svg");
}
lite-youtube{
  width: 70%;
  min-width: 1200px !important;
  border-radius: 45px;
  background-image: url('../assets/images/youtubePortada.png');
  background-position: center center;
  background-size: cover;
}
.somos__Titulo, .ciudades__Titulo, .porQue__Titulo, .caracteristicas__Titulo, .equipo__Titulo, .noticiasBloque__Titulo, .comoEmpezar__Titulo {
  color: var(--AzulBase);
  font-family: var(--GRegular);
  font-weight: 600;
  font-size: var(--TitulosGeneral);
}
.contactoModal__Bloque{
  width: 75%;
}
.modalContacto__Titulo{
  color: var(--AzulBase);
  font-family: var(--GRegular);
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3.5rem;
}
.modalContacto__Izquierda{
  width: 80%;
}
.izquierda__Labels{
  font-family: var(--GExLight);
}
.modalContacto__Boton{
  width: 80%;
  padding: 1em;
  font-family: var(--GExLight);
  font-size: 1.1rem;
}
.modalDerecha__Gradiente{
  height: 100%;
}
.modalDerecha__Texto{
  padding: 0 15%;
  font-size: 1.3rem;
  line-height: 2rem;
  margin-bottom: 10%;
}
.ciudades__Background {
  background: var(--GrisClaro)
}
.ciudades__carousel {
  width: 85%;
  padding-bottom: 5rem;
}
.card__cards{
  background: var(--BlancoBase);
  width: 95%;
  min-height: 529px;
  box-sizing: border-box;
}
.cards__City{
  min-width: 100%;
  max-width: 254px;
  max-height: 254px;
  min-height: auto;
}
.cards__Button{
  color: var(--BlancoBase);
  font-family: var(--GRegular);
  font-size: 1.2rem;
  padding: 0.8rem 0;
  position: fixed;
  bottom: 5%;
  left: 10%;
  width: 75%;
}
.porQueBackground {
  background: no-repeat url("../assets/images/story_new_4.svg");
  background-size: cover;
  background-position: center bottom;
}
.porQue__Grid{
  padding: 5% 20%;
  box-sizing: border-box;
}
.porQue__Botones{
  padding: 0 20% 5% 20%;
  box-sizing: border-box;
}
.porQue_Imagenes{
  width: 100%;
  max-width: 160px;
}
.porQue_Textos{
  font-family: var(--GRegular);
  font-weight: 400;
  font-size: 16px;
}
.caracteristicas__Background{
  background: var(--GrisClaro);
}
.caracteristicas__Descripcion{
  font-family: var(--GExLight);
  font-size: 1.6rem;
}
.caracteristicas__Grid{
  padding: 0 15% 5% 15%;
  box-sizing: border-box;
}
.caracteristicas__Cards{
  background-color: var(--BlancoBase);
  border-radius: 25px;
  padding: 10%;
  margin: 0 5%;
  box-sizing: border-box;
}
.caraCards__Icons{
  margin-top: -15px;
  width: 100%;
  max-width: 160px;
}
.caraCards__Icon--check{
  margin-top: -15px;  
  width: 50%;
  max-width: 160px;
}
.nuestraHistoria__Background {
  background: no-repeat url("../assets/images/story.svg"), linear-gradient(var(--GrisClaro)60%, var(--BlancoBase)60%);
  background-size: cover;
}
.nuestraHistoria__Section{
  padding: 10% 0;
  overflow: hidden;
}
.historia__Grid {
  padding: 0 7%;
  box-sizing: border-box;
}
.historia__Grid--left{
  margin-left: -4.5%;
}
.historia__Grid--right {
  margin-right: -1%;
  position: relative;
  left: 4%;
}
.historiaGrid__Element{
  width: 85%;
  margin: 0;
}
.historia__Titulo {
  color: var(--BlancoBase);
  font-size: var(--TitulosGeneral);
}
.historia__Anios{
  color: var(--BlancoBase);
  font-size: 2.7rem;
  font-family: var(--GBold);
}
.historia__Contenido{
  color: var(--BlancoBase);
  font-family: var(--GLight);
  font-weight: 100;
  font-size: 1.2rem;
}
.historia_TimeLine{
  width: 100%;
  overflow: hidden;
  box-sizing: content-box;
}
.nuestraHistoriaBackground{
  background: no-repeat url("../assets/images/story2.svg");
  background-size: cover;
  background-position: bottom left;
  margin-top: -2%;
  padding-top: 3%;
  text-align: center;
  padding-bottom: 60px;
}
.equipo__Grid {
  padding: 0 10%;
  box-sizing: border-box;
}
.equipo__Person{
  width: 75%;
}
.equipo__Image, .equipoModal__Image{
  width: 95%;
  max-width: 300px;
  height: auto;
  max-height: 300px;
  border-radius: 50%;
}
.equipoModal_Bloque{
  width: 85%;
}
.equipoModal{
  padding: 8% 0% 3% 0%;
  box-sizing: border-box;
}
.imageModal__Correo{
  font-family: var(--GSeBold);
  font-weight: 500;
}
.equipoModal__Nombre{
  font-size: 2.5rem;
}
.equipoModal__Puesto {
  font-size: 1.2rem;
}
.equipoModal__Contenido{
  font-family: var(--GExLight);
  text-align: justify;
  font-size: 1.1rem;
  padding-right: 6%;
}
.equipoModal__Redes{
  width: 3rem;
}
.noticias__Image{
  width: 100%;
  min-height: 30vh;
}
.noticias__Titulo{
  font-size: 1.6rem;
}
.noticias__Fecha{
  font-size: .9rem;
}
.noticias__Descripcion{
  font-size: 1.1rem;
  font-family: var(--GLight);
}
.noticias__Boton{
  width: 33%;
  padding: 1em;
  font-family: var(--GExLight);
  font-size: 1.1rem;
}
.footerBg{
  background: no-repeat url("../assets/images/footerImg.svg");
  background-size: cover;
  background-position: bottom;
}
.footer__Bloque{
  width: 80%;
}
.footer__Logos{
  width: 35%;
}
.footer__Redes{
  width: 30%;
}
.redes__Iconos{
  width: 100%;
  max-width: 25px;
  max-height: 25px;
}
.contacto__Background{
  background: no-repeat url("../assets/images/contacto.svg");
  background-size: cover;
  background-position: right;
}
.comoEmpezar__Seccion{
  padding: 0 20%;
}
.comoEmpezar__Titulo, .pasoPaso__Titulo{
  color: var(--AzulBase);
  font-family: var(--GRegular);
  font-weight: 600;
  font-size: 2.2rem;
}
.comoEmpezar__Contenido, .comoEmpezar__Contenido{
  font-family: var(--GExLight);
  font-weight: 400;
}
.pasoPaso__Seccion {
  padding: 0 10%;
}
.pasoPaso__Descripcion{
  font-family: var(--GExLight);
}
.pasoPaso__Boton{
  font-family: var(--GExLight);
  padding-left: 4rem;
  padding-right: 4rem;
}
.documentacion__Bloque{
  padding: 4% 6%;
  margin-bottom: 1rem;
  margin-right: 1rem;
  box-sizing: border-box;
}
.documentacion__NavIzquierda{
  background-color: var(--VerdeBase);
  color: var(--BlancoBase);
  font-family: var(--GExLight);
  border-radius: 45px;
  padding: .5em 2em;
  
}
.documentacion__Titulos{
  color: var(--AzulBase);
  font-family: var(--GRegular);
  font-weight: 600;
  font-size: 2.2rem;
}
.documentacion__Contenido{
  font-family: var(--GExLight);
  font-weight: 400;
  text-align: justify;
}
.documentacion__Videos{
  width: 100%;
  min-width: 200px !important;
  height: auto;
  border-radius: 15px;
  background-image: url('../assets/images/youtubePortada.png');
  background-position: center center;
  background-size: cover;
}
.docVideos__Titulos{
  font-family: var(--GBold);
  font-size: 1.1rem;
}
/*Ajustes Responsive*/
@media screen and (max-width: 400px) {
  .navVisor__Display{
    display: none;
  }
  .navVisor__link{
    line-height: 1em;
    font-family: var(--GExLight);
    margin: 15px 0;
  }
  .navVisor__Control{
    position: relative!important;
    right: 0;
    top: 0;
  }
  .navVisor__Control--idioma {
    position: absolute!important;
    left: 8%;
    top: 20px;
  }
  .navVisor__Control--nav {
    position: absolute!important;
    right: 2%;
    top: 20px;
  }
  .badgeBackground{
    background: no-repeat url("../assets/images/story3.svg");
    background-size: cover;
    padding-bottom: 20%;
  }
  .badge__Titulo{
    font-size: var(--TitulosGeneral--Movil);
  }
  .badge__Container{
    padding: 35% 2% 0 2%;
  }
  .badge__Contenido{
    width: 95%;
    padding-top: 1.8rem;
    text-align: center;
    font-size: 1.2rem;
  }
  lite-youtube {
    min-width: 300px !important;
    border-radius: 15px;
  }
  .somosBackground{
    padding: 2em 0;
    background: right 0px bottom 0px / 10% no-repeat url("../assets/images/arboles.svg");
  }
  .somos__Titulo, .ciudades__Titulo, .porQue__Titulo, .caracteristicas__Titulo, .equipo__Titulo, .noticiasBloque__Titulo, .comoEmpezar__Titulo {
    font-weight: 600;
    font-size: var(--TitulosGeneral--Movil);
  }
  .contactoModal__Bloque{
    width: 95%;
  }
  .modalContacto__Titulo{
    font-size: 1.4rem;
    line-height: 1.9rem;
  }
  .modalContacto__Izquierda{
    width: 100%;
  }
  .modalContacto__Boton{
    width: 80%;
    padding: 1em;
    font-size: 1.1rem;
  }
  .modalDerecha__Texto{
    padding: 4% 5%;
    font-size: .9rem;
    line-height: 1.2rem;
  }
  .ciudades__carousel {
    width: 95%;
    padding-bottom: 1rem;
  }
  .card__cards{
    background: var(--BlancoBase);
    width: 90%;
    min-height: 340px;
  }
  .cards__City{
    min-width: 100%;
    max-width: 165px;
    max-height: 165px;
    min-height: auto;
  }
  .cards__Button{
    left: 8%;
  }
  .porQue__Grid{
    padding: 5% 5%;
  }
  .porQue__Botones{
    padding: 0 1% 5% 1%;
  }
  .porQue_Imagenes{
    width: 100%;
    max-width: 160px;
  }
  .porQue_Textos{
    font-size: 14px;
  }
  .porQue__Botones--Boton{
    margin: .5rem 2rem;
  }
  .caracteristicas__Descripcion{
    font-size: 1.4rem;
  }
  .caracteristicas__Grid{
    padding: 0 5% 5% 5%;
    box-sizing: border-box;
  }
  .nuestraHistoria__Section{
    padding: 40% 0 70% 0;
    overflow: hidden;
  }
  .historia__Grid {
    padding: 0 7%;
    box-sizing: border-box;
  }
  .historia__Grid--left{
    margin-left: 0;
  }
  .historia__Grid--right {
    margin-right: 0;
    position: inherit;
  }
  .historiaGrid__Element{
    width: 85%;
    margin: 1em 0;
  }
  .historia__Titulo {
    font-size: var(--TitulosGeneral--Movil);
  }
  .historia__Anios{
    font-size: 1.7rem;
  }
  .historia__Contenido{
    font-size: .8rem;
  }
  .equipo__Grid {
    padding: 0 10%;
  }
  .equipo__Titulo{
    margin-top: -45px;
  }
  .equipo__Person{
    width: 85%;
  }
  .equipoModal__Image{
    width: 65%;
  }
  .equipoModal_Bloque{
    width: 95%;
  }
  .equipoModal{
    padding: 8% 2% 3% 2%;
  }
  .equipoModal__Nombre{
    font-size: 1.6rem;
  }
  .equipoModal__Puesto {
    font-size: 1rem;
  }
  .equipoModal__Contenido{
    font-size: .9rem;
    padding: 0 10px;
  }
  .noticias__Titulo{
    font-size: 1.3rem;
  }
  .noticias__Fecha{
    font-size: .7rem;
  }
  .noticias__Descripcion{
    font-size: .8rem;
  }
  .noticias__Boton{
    width: 66%;
    padding: .5em;
    font-size: .8rem;
  }
  .footerBg{
    background: no-repeat url("../assets/images/footerImg.svg");
    background-size: contain;
    background-position: bottom;
    padding-bottom: 1em;
  }
  .footer__Bloque{
    width: 90%;
  }
  .footer__Logos{
    width: 55%;
  }
  .footer__Redes{
    margin: 1em 0;
    width: 80%;
  }
  .redes__Iconos{
    width: 100%;
    max-width: 45px;
    max-height: 45px;
  }
  .comoEmpezar__Seccion, .pasoPaso__Seccion{
    padding: 0 5%;
  }
  .comoEmpezar__Titulo, .pasoPaso__Titulo {
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
  }
  .comoEmpezar__Contenido, .comoEmpezar__Contenido{
    text-align: center;
  }
  .pasoPaso__Descripcion{
    font-family: var(--GExLight);
  }
  .pasoPaso__Boton{
    font-family: var(--GExLight);
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .documentacion__Bloque{
    margin-right: 0rem;
  }
}